<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rendering Dynamic Images Using Flask</title>
</head>
<body>
<form action="{{ url_for('upload_file') }}" enctype="multipart/form-data" method="POST">
    <input name="img" type="file"/>
    <input type="submit"/>
</form>

<form action="{{ url_for("gfg")}}" method="post">
<label for="linkdozdjecia">Link do zdjęcia:</label>
<input type="text" id="linkdozdjecia" name="url" placeholder="link do zdjecia">
<button type="submit">Wyślij</button>

{% if img %}
<h1>Rendered Image</h1>
<p>Ilość osób na zdjęciu: {{ile_osob}}</p>
<img src="{{img}}">
{% else %}
<h1>Image will be render here...</h1>
{% endif %}
</body>
</html>
